#NEXUS

BEGIN DATA;
    DIMENSIONS NTAX=$$NTAXA$$ NCHAR=$$NCHAR$$;
    FORMAT DATATYPE=STANDARD MISSING=? GAP=- SYMBOLS="01";
    CHARSTATELABELS
$$CHARSTATELABELS$$
;
MATRIX
$$MATRIX$$
;
END;

BEGIN ASSUMPTIONS;
$$ASSUMPTIONS$$
END;
